{
  "api-key": "actuals-for-some-alpha-numeric-api-key",
  "api-secret": "actuals-for-some-alpha-numeric-api-key-secret",
  "access-token": "actuals-for-hyphenated-alpha-numeric-access-token",
  "access-token-secret": "actuals-for-alpha-numeric-access-token-secret"
}
